/* Imagen de fondo de la pantalla de contratos */
.bg-hero {
  background-image: url('https://lh3.googleusercontent.com/aida/AP1WRLsdaGR7l41Ad4oxvF89k6S8Mn5aimptK2a6x8i13diUey1qyWRXOKN6kuYtDoFd9ecfcdL7kDEvmu3jssmE7IEg8ekq3e2PA_dDNWv_qo9t0w1x85-9VS3toCP5fA_UbE15CREa45WMzICnEgJZN0GaiFyz9--c8wMr1BFi16bV24XkzcPlC0V2TdBGTLwPcmeE_sngaSnBFfrCaHHtwO7-9NiFM1iqSlQhsgBewLgL5FsPSyvPf1_vXDGM');
}

/* Elevación Neumórfica Local */
.neo-raised {
  box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.8), 6px 6px 12px rgba(0, 0, 0, 0.1);
}

.neo-pressed {
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.05), inset -4px -4px 8px rgba(255, 255, 255, 0.8);
  border: none;
}

/* Pestaña activa estilo Brutalismo */
.brutalist-tab-active {
  background-color: var(--color-primary-container);
  border-bottom: 6px solid var(--color-on-surface);
  color: #ffffff;
}

/* Panel translúcido (Glassmorphism) */
.glass-panel {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

/* Título con estilo Brutalista */
.brutal-title {
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}

/* Iconos activos rellenos */
.active-icon {
  font-variation-settings: 'FILL' 1;
}

/* Microinteracción visual al enfocar inputs (Sustituye la lógica JavaScript inline) */
.input-wrapper:focus-within {
  outline: 2px solid rgba(16, 185, 129, 0.3);
  background-color: rgba(255, 255, 255, 0.8);
}