/* Textura de fondo */
.bg-hero {
  background-image: url('https://lh3.googleusercontent.com/aida/AP1WRLsdaGR7l41Ad4oxvF89k6S8Mn5aimptK2a6x8i13diUey1qyWRXOKN6kuYtDoFd9ecfcdL7kDEvmu3jssmE7IEg8ekq3e2PA_dDNWv_qo9t0w1x85-9VS3toCP5fA_UbE15CREa45WMzICnEgJZN0GaiFyz9--c8wMr1BFi16bV24XkzcPlC0V2TdBGTLwPcmeE_sngaSnBFfrCaHHtwO7-9NiFM1iqSlQhsgBewLgL5FsPSyvPf1_vXDGM');
}

/* Elevación Neumórfica */
.neu-raised {
  box-shadow: var(--shadow-light), var(--shadow-dark);
}

.neu-pressed {
  box-shadow: var(--inner-shadow-dark), var(--inner-shadow-light);
}

/* Cristal translúcido */
.glass-card {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Detalle Brutalista para Encabezado */
.brutal-border {
  border-bottom: 8px solid var(--color-on-surface);
}

/* Iconos activados */
.active-icon {
  font-variation-settings: 'FILL' 1;
}

/* Animación de Entrada para la Notificación Toast */
@keyframes slideInDown {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideInDown 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}